/* Reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*configurações Gerais*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



header {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 253, 253);
  padding: 50px;
  text-align: center;
}

main {
  background-color: rgb(224, 224, 224);
  flex: 1;
  padding: 48px 38px 48px 38px;
  width: 100%;
}

about-section{
    display: block;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    padding: 40PX;
    border-radius: 12px;
    margin-bottom: 60px;
}


#titulo-sobre-mim{
  font-size: 30px;
  border-bottom: 2px solid black;

}

.titulo-sobre-mim{
  font-size: 20px;
  

}
hobbies{
    display: block;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 60px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 12px;
}

li {
    background-color: rgb(235, 235, 235);
    padding: 12px;
    border-left: 4px solid black;
    font-size: 16px;
    min-width: 250px;
}

li:hover{
    background-color: darkgrey;
    transform: translateX(5px);
    transition: all 0.3s ease;
}

#titulo-hobbies{
  font-size: 30px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}
contact{
  display: block;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 60px;
}

contact h2{
  margin-bottom: 8px;
  font-size: 30px;
  text-align: center;
}

contact p{
  text-align: center;
  font-size: 22px;
}

contact a{
  color: rgb(243, 26, 26);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: 2px solid;
  border-radius: 25px;
  display: inline-block;
  transition: all 0.3seg ease;
}

contact a:hover{
  background-color: rgb(255, 0, 0);
  color:rgb(255, 255, 255);
  transform: translate(-2px);
}